@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuisseIntlMono';
  src: url('/fonts/SuisseIntlMono-Regular-WebS.woff'),
    url('/fonts/SuisseIntlMono-Regular-WebS.woff2'),
    url('/fonts/SuisseIntlMono-Regular-WebXL.woff'),
    url('/fonts/SuisseIntlMono-Regular-WebXL.woff2');
}

@font-face {
  font-family: 'SuisseIntlRegular';
  src: url('/fonts/SuisseIntl-Regular-WebM.woff'),
    url('/fonts/SuisseIntl-Regular-WebM.woff2');
}

@font-face {
  font-family: 'SuisseIntlRegularItalic';
  src: url('/fonts/SuisseIntl-RegularItalic-WebS.woff'),
    url('/fonts/SuisseIntl-RegularItalic-WebS.woff2');
}

@font-face {
  font-family: 'SuisseIntlBold';
  src: url('/fonts/SuisseIntl-Bold-WebM.woff'),
    url('/fonts/SuisseIntl-Bold-WebM.woff2'),
    url('/fonts/SuisseIntl-Bold-WebXL.woff'),
    url('/fonts/SuisseIntl-Bold-WebXL.woff2'),
    url('/fonts/SuisseIntl-Bold-WebS.woff'),
    url('/fonts/SuisseIntl-Bold-WebS.woff2');
}

@font-face {
  font-family: 'SuisseIntlSemiBold';
  src: url('/fonts/SuisseIntl-SemiBold-WebM.woff'),
    url('/fonts/SuisseIntl-SemiBold-WebM.woff2'),
    url('/fonts/SuisseIntl-SemiBold-WebXL.woff'),
    url('/fonts/SuisseIntl-SemiBold-WebXL.woff2'),
    url('/fonts/SuisseIntl-SemiBold-WebS.woff'),
    url('/fonts/SuisseIntl-SemiBold-WebS.woff2');
}

@font-face {
  font-family: 'UvasBlack-Black';
  src: url('/fonts/UvasBlack-Black.woff'), url('/fonts/UvasBlack-Black.woff2');
}

@layer base {
  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    @apply text-darkblue font-suisseIntlRegular;
  }

  h1 {
    font-size: clamp(2.369rem, 1.8521rem + 1.6539vw, 4.209rem);
  }

  h2 {
    font-size: clamp(1.777rem, 1.3894rem + 1.2404vw, 3.157rem);
  }

  h3 {
    font-size: clamp(1.333rem, 1.042rem + 0.9312vw, 2.369rem);
  }
  h4 {
    font-size: clamp(1rem, 0.7817rem + 0.6984vw, 1.777rem);
  }
  h5 {
    font-size: clamp(0.75rem, 0.5862rem + 0.524vw, 1.333rem);
  }
  h6 {
    font-size: clamp(1rem, 0.8596rem + 0.4494vw, 1.5rem);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-suisseIntlMono mt-4 pb-4 first:mt-0;
    line-height: 1;
  }

  p {
    font-size: clamp(1rem, 0.8596rem + 0.4494vw, 1.5rem);
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    @apply pb-4;
  }

  ul,
  ol {
    font-size: clamp(1rem, 0.8596rem + 0.4494vw, 1.5rem);
  }

  ol {
    @apply list-decimal mb-8 ml-6;
  }

  li::marker {
    @apply font-suisseIntlMono;
  }

  ol li a {
    @apply break-words;
  }

  a > p {
    @apply m-0;
  }

  strong {
    @apply font-suisseIntlSemiBold font-normal not-italic;
  }

  em,
  i {
    @apply font-suisseIntlRegularItalic not-italic;
  }
}

@layer utilities {
  .footer h3 {
    @apply uppercase text-[10px] border-none;
  }
  .footer p {
    @apply text-[15px] mb-0;
  }
  .reversed section {
    @apply -order-1;
  }

  .reversed svg {
    @apply -scale-x-100 left-[unset] -right-28 rotate-12 z-[1];
  }

  .imageWrapper h2 {
    @apply uppercase text-2xl pb-1 font-suisseIntlRegular;
  }

  .imageWrapper p {
    @apply text-sm;
  }

  .hover-target {
    @apply translate-x-[500px] opacity-0;
  }

  .hover-trigger:hover .hover-target {
    @apply translate-x-0 opacity-100 duration-300;
  }

  .submenuItem-trigger {
    @apply transition-all;
  }

  .submenuItem-arrow {
    @apply opacity-0 transition-all;
  }

  .submenuItem-trigger:hover .submenuItem-arrow {
    @apply opacity-100;
  }

  .horizontalmenuItem-arrow {
    @apply w-0 -translate-x-3 transition-all;
  }

  .submenuItem-trigger:hover .horizontalmenuItem-arrow {
    @apply w-auto translate-x-0;
  }

  .module-spacing-b {
    @apply mb-20 lg:mb-44;
  }

  .intro-text {
    font-size: clamp(1.333rem, 1.042rem + 0.9312vw, 2.369rem);
    line-height: 1.2;
  }

  .references-text {
    font-size: clamp(0.6625rem, 0.5677rem + 0.3034vw, 1rem);
  }

  .references-list {
    font-size: clamp(0.6625rem, 0.5677rem + 0.3034vw, 1rem);
    @apply font-suisseIntlRegular;
  }
  .references-list ::marker {
    @apply font-suisseIntlMono;
  }
}
